workflow.json.json
{
  "name": "My workflow 2",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -240,
        -400
      ],
      "id": "26351e18-07c1-44f3-a8f0-eec43c0dfd88",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1XSpwK-WxFVazWNMY9V3lb_jMy7sOdPhWAM4WAxemZFE",
          "mode": "list",
          "cachedResultName": "Expense Approval System",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1XSpwK-WxFVazWNMY9V3lb_jMy7sOdPhWAM4WAxemZFE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 93245850,
          "mode": "list",
          "cachedResultName": "Form Responses 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1XSpwK-WxFVazWNMY9V3lb_jMy7sOdPhWAM4WAxemZFE/edit#gid=93245850"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -144,
        -544
      ],
      "id": "f7d15e61-fe94-4c2f-bcae-3c1a0430ffbf",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "nLHKlRaQhoPMM5XY",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "e6384265-b451-4593-8e13-05b8644b6cc8",
              "leftValue": "={{ $json.Amount }}",
              "rightValue": 50000,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": "={{ false }}",
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        0,
        -544
      ],
      "id": "d9053c5e-ef67-48b1-a126-3760a2de4a25",
      "name": "If"
    },
    {
      "parameters": {
        "sendTo": "sheraziali42@gmail.com",
        "subject": "Expense Approval Required",
        "message": "=Dear Manager,  A new expense request requires your approval.  Employee: {{$json[\"Employee\"]}}  Department: {{$json[\"Department\"]}}  Expense Type: {{$json[\"Expense Type\"]}}  Amount: PKR {{$json[\"Amount\"]}}  Description: {{$json[\"Description\"]}}  Status: Pending Approval  Regards, Finance Automation System",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        160,
        -544
      ],
      "id": "b4175220-bada-4fbf-940b-cd08fedee720",
      "name": "Send a message",
      "webhookId": "2d0c8a1f-96f1-423a-b79a-de36c900cd1c",
      "credentials": {
        "gmailOAuth2": {
          "id": "fJeRHkzYBGqREzTO",
          "name": "Gmail OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1XSpwK-WxFVazWNMY9V3lb_jMy7sOdPhWAM4WAxemZFE",
          "mode": "list",
          "cachedResultName": "Expense Approval System",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1XSpwK-WxFVazWNMY9V3lb_jMy7sOdPhWAM4WAxemZFE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 93245850,
          "mode": "list",
          "cachedResultName": "Form Responses 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1XSpwK-WxFVazWNMY9V3lb_jMy7sOdPhWAM4WAxemZFE/edit#gid=93245850"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Request ID": "={{ $('Get row(s) in sheet').item.json['Request ID'] }}",
            "Employee": "={{ $('Get row(s) in sheet').item.json.Employee }}",
            "Department": "={{ $('Get row(s) in sheet').item.json.Department }}",
            "Expense Type": "={{ $('Get row(s) in sheet').item.json['Expense Type'] }}",
            "Description": "={{ $('Get row(s) in sheet').item.json.Description }}",
            "Amount": "={{ $('Get row(s) in sheet').item.json.Amount }}",
            "Manager Email": "={{ $('Get row(s) in sheet').item.json['Manager Email'] }}",
            "Status": "Approval Email Sent"
          },
          "matchingColumns": [
            "Request ID"
          ],
          "schema": [
            {
              "id": "Employee",
              "displayName": "Employee",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Request ID",
              "displayName": "Request ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Department",
              "displayName": "Department",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Expense Type",
              "displayName": "Expense Type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Amount",
              "displayName": "Amount",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Description",
              "displayName": "Description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Manager Email",
              "displayName": "Manager Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        352,
        -544
      ],
      "id": "f8018283-ea1b-43bd-a0b1-874650d3c98b",
      "name": "Append or update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "nLHKlRaQhoPMM5XY",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "unit": "minutes"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        496,
        -544
      ],
      "id": "d50c3a35-381d-456a-b18e-6947a775e0e0",
      "name": "Wait",
      "webhookId": "59b15582-cc6e-4dfd-8ad3-7cd35c8cda72"
    },
    {
      "parameters": {
        "sendTo": "sheraziali42@gmail.com",
        "subject": "Reminder: Expense Approval Pending",
        "emailType": "text",
        "message": "=Dear Manager,  This is a reminder that an expense approval is still pending.  Request ID: {{$node[\"Get row(s) in sheet\"].json[\"Request ID\"]}}  Employee: {{$node[\"Get row(s) in sheet\"].json[\"Employee\"]}}  Department: {{$node[\"Get row(s) in sheet\"].json[\"Department\"]}}  Amount: PKR {{$node[\"Get row(s) in sheet\"].json[\"Amount\"]}}  Please review and approve this request.  Regards, Finance Automation System",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        656,
        -544
      ],
      "id": "c319b1ee-e46d-4ec5-9a4a-afaae1749140",
      "name": "Send a message1",
      "webhookId": "825d5f77-830b-490a-8e55-685db3b005aa",
      "credentials": {
        "gmailOAuth2": {
          "id": "fJeRHkzYBGqREzTO",
          "name": "Gmail OAuth2 API"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        [
          {
            "node": "Append or update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append or update row in sheet": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Send a message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "6d3d3f42-9d18-434a-a5e3-d223b5ebb455",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "acc927aad747b18ada525495a3a6afd4245751a432872524476b28754c2cf991"
  },
  "nodeGroups": [],
  "id": "fqnfRofz37qc7SJ7",
  "tags": []
}